//Variables
@images: "./images";
@header-colour: #fcf3cf;
@yellow: #ffeb3b;
@red: #f44336;
@blue: #2196f3;
@grey: #cdcdcd;
@black: #000000;

html{
	scroll-behavior: smooth;
}
body{
	background-color: @grey;
}
a, a:visited, a:hover{
	color: @yellow;
}

nav{
	background-color: @black;
	color: @header-colour;
	font-family: 'Exo', sans-serif;
	position: fixed;
	top: 0;
	right: 0;
}

.hero{
	height: 100vh;
	background: url("./images/header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex; 
	justify-content: center;
	align-items: center;
}
.hero-text{
	color: @header-colour;
	text-align: center;	
	text-shadow: 1px 1px 2px #0a0a0a;
}
header{
	font-family: 'Exo', sans-serif;
}
h1{
	font-size: 3em;
}
h2{
	font-size: 2em;
	font-style: italic;
}
h3{
	font-family: 'Exo', sans-serif;
	font-size: 1.5em;
}
.red{
	background-color: @red;
}
.yellow{
	background-color: @yellow;
}
.blue{
	background-color: @blue;
}
.section-header{
	height: 50px;
	display: flex;
	align-items: center;
	padding-left: 5px;
	margin-bottom: 5px;
}
section{
	padding-bottom: 5px;
	border-left-style: solid;
	border-right-style: solid;
	border-left-width: 2px;
	border-right-width: 2px;
}
.command{
	border-left-color: @yellow;
	border-right-color: @yellow;
}
.science{
	border-left-color: @blue;
	border-right-color: @blue;
}
.ops{
	border-left-color: @red;
	border-right-color: @red;
}

.careers{
	display: flex;
	text-align: center;
	overflow: hidden;
}
.carousel{
	background-color: white;
	border: 1px solid black;
	margin: 0 5px 0 5px;
}
.arrow{
	color: black;
	font-size: 200px;
	align-self: center;
	position: absolute;
	cursor: pointer;
}
.left{
	left: 0;
}
.right{
	right: 0;
}

.starmap{
	text-align: center;
}
.starmap img{
	max-width: 100%;
	height: auto;	
}
footer{
	background-color: @black;
	color: @header-colour;
}