//Variables
@images: "./images";
@header-colour: #fcf3cf;
@yellow: #ffeb3b;
@light-yellow: lighten(@yellow, 20%);
@red: #f44336;
@light-red: lighten(@red, 20%);
@blue: #2196f3;
@light-blue: lighten(@blue, 20%);
@grey: #f2f3f4;
@black: #000000;

html{
	scroll-behavior: smooth;
}
body{
	background-color: @grey;	
	font-family: 'Exo', sans-serif;
	color: @black;
}
a, a:visited, a:hover{
	color: @yellow;
}

nav{
	background-color: @black;
	color: @header-colour;
	position: fixed;
	top: 0;
	right: 0;
}
#menu-header{
	cursor: pointer;	
	padding: 10px;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 5px;
	//transition: height 1s, opacity 1s;
	transition: height 0s 100ms, opacity 900ms 0s;
}
.hide{
	//display: none;	
	opacity: 0;
	//visibility: hidden;
	//position: absolute;
	height: 0;
	overflow: hidden;
	//width: 0;
	//transition: height 0s 500ms, opacity 500ms 0s;
}
.show{
	//display: block;	
	//position: static;
	opacity: 1;
	//visibility: visible;
	//transition: opacity 1s linear;
	//animation: fadeIn 1s;
	height: 100%;
	//width: 100%;
	//transition: height 0s 0s, opacity 1s 0s;
}
/*@keyframes fadeIn{
	from{opacity: 0;}
	to{opacity: 1;}
}*/

.hero{
	height: 100vh;
	background: url("./images/header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex; 
	justify-content: center;
	align-items: center;
}
.hero-text{
	color: @header-colour;
	text-align: center;	
	text-shadow: 1px 1px 2px #0a0a0a;
}
h1{
	font-size: 3em;
}
h2{
	font-size: 2em;
	font-style: italic;
}
h3{
	font-size: 1.5em;
}
/* gradient mixin */
.horizontal-gradient (@startColour, @endColour) {
 	background-color: @startColour;
	background-image: -webkit-gradient(linear, left top, right top, from(@startColour), to(@endColour));
	background-image: -webkit-linear-gradient(left, @startColour, @endColour);
	background-image: -moz-linear-gradient(left, @startColour, @endColour);
	background-image: -ms-linear-gradient(left, @startColour, @endColour);
	background-image: -o-linear-gradient(left, @startColour, @endColour);
}
.red{
	background-color: @red;
	.horizontal-gradient(@red, @light-red);
}
.yellow{
	background-color: @yellow;
	.horizontal-gradient(@yellow, @light-yellow);
}
.blue{
	background-color: @blue;
	.horizontal-gradient(@blue, @light-blue);
}
.section-header{
	height: 50px;
	display: flex;
	align-items: center;
	padding-left: 5px;
	margin-bottom: 5px;
}
section{
	padding-bottom: 5px;
	border-left-style: solid;
	border-right-style: solid;
	border-left-width: 2px;
	border-right-width: 2px;
}
.command{
	border-left-color: @yellow;
	border-right-color: @yellow;
}
.science{
	border-left-color: @blue;
	border-right-color: @blue;
}
.ops{
	border-left-color: @red;
	border-right-color: @red;
	/*text-align: center;*/
}

.careers{
	display: flex;
	text-align: center;
	overflow: hidden;
}
.carousel{
	background-color: white;
	border: 1px solid black;
	margin: 0 5px 0 5px;
	width: 225px;
	position: relative;
	z-index: -1;
	transition: all 1s;
}
.arrow{
	font-size: 200px;
	align-self: center;
	position: absolute;
}
.left{
	left: 0;
}
.right{
	right: 0;
	cursor: pointer;
}
/*.moveLeft{
	transform: translateX(-235px);
}
.moveRight{
	transform: translateX(235px);
}*/
.animateMove{
}

.starmap{
	text-align: center;
}
.starmap img{
	max-width: 100%;
	height: auto;	
}
.ops-brochure{
	display: flex;
	justify-content: center;
	//position: relative;
}
#brochure-form{
	display: inline-flex;
	/*text-align: left;*/
	background-color: #e5e7e9;
	//position: absolute;
}
#submit{
	/*text-align: center;*/
	margin-top: 5px;
	background-color: @light-red;
	border: 1px solid @red;
	padding: 0.5em 1.5em;
	border-radius: 0.5em;
}
#submitted-form{
	visibility: hidden;
	position: absolute;
}

footer{
	background-color: @black;
	color: @header-colour;
}